[Unit]
Description=Watch for new images and display them
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash /home/pi/watch_for_images.sh
Restart=always

[Install]
WantedBy=multi-user.target
